<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display</title>
</head>
<body>
    <h1>Brevets in Database</h1>
    <h2>Open Times</h2>
    {% for o_time in found %}
        <p> {{ o_time.open }} <p>
    {% endfor %}
    
    <hr>

    <h2>Close Times</h2>
    {% for c_time in found %}
        <p> {{ c_time.close }} <p>
    {% endfor %}

    <hr>
    <p>
        <button onclick="window.location.href='{{ url_for( 'index' ) }}';">Go Back</button>
    </p>
</body>
</html>